/* styles.css */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f3ea; /* Lighter background color */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formContainer {
    width: 60vw;
    height: 80vh;
    padding: 5vh;
    border-radius: 5vw;
    box-shadow: 0 0 2vw 0.2vw rgba(0,0,0,0.1);
    background-color: #f1e7db;
}

.title {
    text-align: center;
    margin-bottom: 2vh;
    color: #0056b3;
    font-size: calc(2vh + 2vw); /* Responsive font size using a ratio */
}

.formItem {
    margin-bottom: 2vh;
}

.label {
    display: block;
    margin-bottom: 2vh;
    color: #333;
    font-size: calc(2vh + 1vw); /* Responsive font size using a ratio */
}

.inputField {
    width: calc(100% - 2vw);
    height: 1vh;
    padding: calc(2vh + 0.5vw);
    border: 0.2vw solid #ccc;
    border-radius: calc(2vw + 0.5vh);
    font-size: calc(1vh + 1vw);
}

#tripType {
    width: calc(100% + 3vw);
    height: 6vh;
    padding-left: 2vw;
    border: 0.2vw solid #ccc;
    border-radius: calc(2vw + 0.5vh);
    font-size: calc(1vh + 1vw);
}

.button {
    width: 100%;
    background-color: #0056b3;
    color: #fff;
    padding: calc(2vh + 1vw); /* Responsive padding using a ratio */
    border-radius: calc(2vw + 0.5vh); /* Responsive border radius using a ratio */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: calc(2vh + 1vw); /* Responsive font size using a ratio */
}

.button:hover {
    background-color: #004080;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


/* Result section */
/* -------------- */


.resultContainer {
    width: 60vw;
    height: 80vh;
    padding: 5vh;
    border-radius: 5vw;
    box-shadow: 0 0 2vw 0.2vw rgba(0,0,0,0.1);
    background-color: #f1e7db;
    overflow: auto;

}

.closeButton {
    background-color: transparent;
    border: none;
    font-size: calc(2vh + 1vw); /* Responsive font size using a ratio */
    cursor: pointer;
    position: absolute;
    top: 1vh;
    left: 1vw;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.transparentButton {
    background-color: transparent;
    border: none;
    font-size: calc(1vh + 1vw); /* Responsive font size using a ratio */
    cursor: pointer;
}

.chooseButton {
    background-color: transparent;
    color: #007bff;
    border: none;
    font-size: calc(2vh + 1vw); /* Responsive font size using a ratio */
    cursor: pointer;
    padding: 1vh 2vw;
    border-radius: 5px;
}

.resultItem {
    margin-bottom: 2vh;
    font-size: calc(1vh + 1vw); /* Responsive font size using a ratio */
}

.flight, .hotel, .layover {
    margin-bottom: 1vh;
    font-size: calc(1vh + 1vw); /* Responsive font size using a ratio */
}

.dayTripImage {
    max-width: 100%;
}